/* カード本体 */
.card {
    width: 30%; /* 任意の横幅を指定 */
    position: relative;
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 100px;
    vertical-align: middle;
  }
  
  /* 擬似要素とpadding-topでカードの高さを指定 */
  .card::before {
    content: "";
    display: block;
    padding-top: 30%;
  }
  
  /* カード内の画像 */
  .card img {
    width: 100%;
  }
  
  /* カード裏面・表面の共通スタイル */
  .card .back,
  .card .front {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  /* カード表面のスタイル */
  .card .front {
    transform: rotateY(-180deg);
  }
  
  /* ホバー時のカード裏面 */
  .card:hover .back {
    transform: rotateY(180deg);
  }
  
  /* ホバー時のカード表面 */
  .card:hover .front {
    transform: rotateY(0);
  }